In [1]:
import mysql.connector

In [2]:
from langchain import LLMChain
from langchain.chains import LLMChain, LLMMathChain, SequentialChain, TransformChain
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI
from langchain.output_parsers import PydanticOutputParser
from langchain.prompts import PromptTemplate
from pydantic import BaseModel, Field, validator
from langchain.tools import Tool
from langchain_community.agent_toolkits import create_sql_agent
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI
from langchain.agents import AgentExecutor, create_openai_tools_agent, create_openai_functions_agent
#from langchain.agents.agent import AgentExecutor
from langchain_community.agent_toolkits.sql.prompt import SQL_FUNCTIONS_SUFFIX
from langchain_core.messages import AIMessage, SystemMessage
from langchain_core.prompts.chat import (
    ChatPromptTemplate,
    HumanMessagePromptTemplate,
    MessagesPlaceholder,
)

import os

from langchain import hub
from langchain_experimental.tools import PythonREPLTool

import subprocess
import warnings
warnings.filterwarnings('ignore')

In [24]:
sql_db = SQLDatabase.from_uri("mysql+pymysql://root:gugegush@localhost:3306/ecommerce")

In [19]:
sql_db = SQLDatabase.from_uri("mysql://localhost:3306/ecommerce?user=root?password=gugegush")
#print(db.dialect)
#print(db.get_usable_table_names()) 
#db.run("SELECT * FROM events LIMIT 10;")

ModuleNotFoundError: No module named 'MySQLdb'

In [7]:
from dotenv import load_dotenv
import os

load_dotenv()  # Load environment variables from .env file
# Access the API key from the environment variable
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

# Set the OpenAI API key in the environment variable
os.environ['OPENAI_API_KEY'] = OPENAI_API_KEY



# Define the model name
model_name = "gpt-4-0125-preview"

In [8]:
from langchain.llms import OpenAI
from langchain.chains import LLMChain
from langchain import PromptTemplate

llm = OpenAI(temperature=0.0)

In [9]:
template2='''In an easy way translate the following sentence '{sentence}' into {target_language}'''

language_prompt = PromptTemplate(
    input_variables = ["sentence", "target_language"],
    template=template2
)

language_prompt.format(sentence="How are you", target_language='french')

chain2 = LLMChain(llm=llm,prompt=language_prompt)

In [13]:
data = chain2({
    'sentence':"I Love You",
    'target_language':'telugu'
})

print("English Sentence:", data['sentence'])
print("Target Language:", data['target_language'])
print("Translated Text:")
print(data['text'])

English Sentence: I Love You
Target Language: telugu
Translated Text:


నేను నిన్ను ప్రేమిస్తున్నాను (Nenu ninnu premistunnanu)

## SQL Query Engine

In [14]:
class SQLQueryEngine:
    """
    A class representing an SQL query engine.

    Attributes:
        llm (ChatOpenAI): An instance of ChatOpenAI used for natural language processing.
        toolkit (SQLDatabaseToolkit): An SQL database toolkit instance.
        context (dict): Contextual information obtained from the SQL database toolkit.
        tools (list): List of tools available for SQL query execution.
        prompt (ChatPromptTemplate): The prompt used for interactions with the SQL query engine.
        agent_executor (AgentExecutor): An executor for the SQL query engine's agent.
    """
    def __init__(self, model_name, db):
        self.llm = ChatOpenAI(model=model_name, temperature=0)
        self.toolkit = SQLDatabaseToolkit(db=db, llm=self.llm)
        self.context = self.toolkit.get_context()
        self.tools = self.toolkit.get_tools()
        self.prompt = None
        self.agent_executor = None
        
    def set_prompt(self):
        messages = [
            HumanMessagePromptTemplate.from_template("{input}"),
            AIMessage(content=SQL_FUNCTIONS_SUFFIX),
            MessagesPlaceholder(variable_name="agent_scratchpad")
            ]
        self.prompt = ChatPromptTemplate.from_messages(messages)
        self.prompt = self.prompt.partial(**self.context)
        
    def initialize_agent(self):
        agent = create_openai_tools_agent(self.llm, self.tools, self.prompt)
        self.agent_executor = AgentExecutor(
            agent=agent,
            tools=self.toolkit.get_tools(),
            verbose=True,
        )
        
    def get_query_data(self, query):
        if 'return' in query:
            query = query + "\n" + "return percentage is defined as total number of returns divided by total number of orders. You can join orders table with users table to know more about each user"
        return self.agent_executor.invoke({"input": query})['output']

In [27]:
global sql_query_engine, dashboard_engine

def init_engines():
    sql_query_engine = SQLQueryEngine(model_name, sql_db)
    sql_query_engine.set_prompt()
    sql_query_engine.initialize_agent()

    #dashboard_engine = PythonDashboardEngine()
    #dashboard_engine.initialize()
    return sql_query_engine

In [35]:
sql_query_engine = init_engines()
query = ("Top 5 Products with most profit, show their respective cost also")
sql_query_engine_output = sql_query_engine.get_query_data(query)
#print(sql_query_engine_output)

#dashboard_engine_output = dashboard_engine.get_output(sql_query_engine_output)
#dashboard_engine.export_to_streamlit(dashboard_engine_output)

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


distribution_centers, events, inventory_items, order_items, orders, products, users
Invoking: `sql_db_schema` with `{'table_names': 'products,order_items'}`



CREATE TABLE order_items (
	id INTEGER,
	order_id INTEGER,
	user_id INTEGER,
	product_id INTEGER,
	inventory_item_id INTEGER,
	status VARCHAR(255),
	created_at TIMESTAMP NULL,
	shipped_at TIMESTAMP NULL,
	delivered_at TIMESTAMP NULL,
	returned_at TIMESTAMP NULL,
	sale_price FLOAT
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from order_items table:
id	order_id	user_id	product_id	inventory_item_id	status	created_at	shipped_at	delivered_at	returned_at	sale_price
162569	112164	89224	14235	438986	Cancelled	2023-10-25 04:27:30	None	None	None	0.02
25143	17365	13804	14235	67816	Complete	2021-02-16 04:09:02	2021-02-17 03:58:00	2021-02-21 08:15:00	None	0.02
162494	112111	89185	14235	438784	Complete	2022-12-12 07:37:55	2022-12-13 02:11:00	2022-12-16 07:35:00	None	0.02
*/


CREATE TABLE products (
	id INTEGER,
	cost FLOAT,
	category VARCHAR(255),
	name VARCHAR(255),
	brand VARCHAR(255),
	retail_price FLOAT,
	department VARCHAR(255),
	sku VARCHAR(255),
	distribution_center_id INTEGER
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from products table:
id	cost	category	name	brand	retail_price	department	sku	distribution_center_id
13842	2.51875	Accessories	Low Profile Dyed Cotton Twill Cap - Navy W39S55D	MG	6.25	Women	EBD58B8A3F1D72F4206201DA62FB1204	1
13928	2.33835	Accessories	Low Profile Dyed Cotton Twill Cap - Putty W39S55D	MG	5.95	Women	2EAC42424D12436BDD6A5B8A88480CC3	1
14115	4.87956	Accessories	Enzyme Regular Solid Army Caps-Black W35S45D	MG	10.99	Women	EE364229B2791D1EF9355708EFF0BA34	1
*/
Invoking: `sql_db_query` with `{'query': "SELECT p.id, p.name, p.cost, AVG(o.sale_price - p.cost) AS profit FROM products p JOIN order_items o ON p.id = o.product_id WHERE o.status = 'Complete' GROUP BY p.id, p.name, p.cost ORDER BY profit DESC LIMIT 5"}`
responded: To find the top 5 products with the most profit, we need to calculate the profit for each product by subtracting the cost from the sale price. Then, we can sort these products by their profit in descending order and limit the results to the top 5. Let's execute the SQL query to get this information.

[(24341, 'Nobis Yatesy Parka', 381.9, 568.1000061035156), (23654, "The North Face Apex Bionic Soft Shell Jacket - Men's", 363.006, 539.9939880371094), (23951, 'The North Face Nuptse 2 Jacket Deep Water Blue Mens', 367.521, 535.47900390625), (23989, 'The North Face Freedom Mens Ski Pants 2013', 369.327, 533.6730041503906), (24283, 'The North Face Nuptse 2 Jacket - Noah Green/TNF Black', 370.23, 532.7699890136719)]The top 5 products with the most profit, along with their respective costs, are:

1. **Nobis Yatesy Parka**
   - Cost: $381.90
   - Average Profit: $568.10

2. **The North Face Apex Bionic Soft Shell Jacket - Men's**
   - Cost: $363.01
   - Average Profit: $539.99

3. **The North Face Nuptse 2 Jacket Deep Water Blue Mens**
   - Cost: $367.52
   - Average Profit: $535.48

4. **The North Face Freedom Mens Ski Pants 2013**
   - Cost: $369.33
   - Average Profit: $533.67

5. **The North Face Nuptse 2 Jacket - Noah Green/TNF Black**
   - Cost: $370.23
   - Average Profit: $532.77

These products have shown the highest profit margins in the dataset.

> Finished chain.