In [77]:
import csv
import os
import mysql.connector
from jupyter_server.auth import passwd

In [78]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="gugegush",
        auth_plugin='mysql_native_password'  # Ensure to specify the plugin if necessary
    )
    mycursor = mydb.cursor()
    print("Connection successful")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connection successful

In [25]:
# Run only once
mycursor.execute("CREATE DATABASE IF NOT EXISTS ecommerce")

In [79]:
# select the database
mycursor.execute("Use ecommerce")

In [75]:
mycursor.execute("CREATE TABLE distribution_centers(id INT, name VARCHAR(255), latitude FLOAT, longitude FLOAT)")
mycursor.execute("CREATE TABLE events(id INT, user_id INT, sequence_number INT, session_id VARCHAR(255), created_at TIMESTAMP, ip_address VARCHAR(255), city VARCHAR(255), state VARCHAR(255), postal_code VARCHAR(255), browser VARCHAR(255), traffic_source VARCHAR(255), uri VARCHAR(255), event_type VARCHAR(255))")
mycursor.execute("CREATE TABLE inventory_items(id INT, product_id INT, created_at TIMESTAMP, sold_at TIMESTAMP, cost FLOAT, product_category VARCHAR(255), product_name VARCHAR(255), product_brand VARCHAR(255), product_retail_price FLOAT, product_department VARCHAR(255), product_sku VARCHAR(255), product_distribution_center_id INT)")
mycursor.execute("CREATE TABLE order_items(id INT, order_id INT, user_id INT, product_id INT, inventory_item_id INT, status VARCHAR(255), created_at TIMESTAMP, shipped_at TIMESTAMP, delivered_at TIMESTAMP, returned_at TIMESTAMP, sale_price FLOAT)")
mycursor.execute("CREATE TABLE orders(order_id INT, user_id INT, status VARCHAR(255), gender VARCHAR(255), created_at TIMESTAMP, returned_at TIMESTAMP, shipped_at TIMESTAMP, delivered_at TIMESTAMP, num_of_item INT)")
mycursor.execute("CREATE TABLE products(id INT, cost FLOAT, category VARCHAR(255), name VARCHAR(255), brand VARCHAR(255), retail_price FLOAT, department VARCHAR(255), sku VARCHAR(255), distribution_center_id INT)")
mycursor.execute("CREATE TABLE users(id INT, first_name VARCHAR(255), last_name VARCHAR(255), email VARCHAR(255), age INT, gender VARCHAR(255), state VARCHAR(255), street_address VARCHAR(255), postal_code VARCHAR(255), city VARCHAR(255), country VARCHAR(255), latitude FLOAT, longitude FLOAT, traffic_source VARCHAR(255), created_at TIMESTAMP)")

In [76]:
# Read data from CSV files and insert that data into corresponding tables in a database.
table_names = ["distribution_centers", "events", "inventory_items", "order_items", "orders", "products", "users"]

for table_name in table_names:
    with open("data/%s.csv" % table_name, "r", encoding="utf-8") as file:
        csv_data = csv.reader(file)
        next(csv_data)  # Skip headers
        counter = 0
        print("Currently inserting data into table %s" % (table_name))
        for row in csv_data:
            if counter % 10000 == 0:
                print("Progress is", counter)
            row = [None if cell == '' else cell.replace(" UTC", "") for cell in row]
            postfix = ','.join(["%s"] * len(row))
            try:
                mycursor.execute("INSERT INTO %s VALUES(%s)" % (table_name, postfix), row)
            except mysql.connector.Error as err:
                print("Error occurred:", err)
            counter += 1
        mydb.commit()

Currently inserting data into table distribution_centers
Progress is 0
Currently inserting data into table events
Progress is 0
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:36:22' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:21:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:21:33' for column 'created_at' at row 1
Progress is 10000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:45:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:12:00' for column 'created_at' at row 1
Progress is 20000
Progress is 30000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:57:00' for column 'created_at' at row 1
Progress is 40000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:27:00' for column 'created_at' at row 1
Progress is 50000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:59:45' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:45:27' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:16:14' for column 'created_at' at row 1
Progress is 60000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:12:27' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:18:30' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:24:00' for column 'created_at' at row 1
Progress is 70000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:19:16' for column 'created_at' at row 1
Progress is 80000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:46:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:37:52' for column 'created_at' at row 1
Progress is 90000
Progress is 100000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:32:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:25:17' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:23:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:42:00' for column 'created_at' at row 1
Progress is 110000
Progress is 120000
Progress is 130000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:16:24' for column 'created_at' at row 1
Progress is 140000
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:32:00' for column 'created_at' at row 1
Progress is 150000
Progress is 160000
Progress is 170000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:39:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:09:29' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:32:42' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:14:00' for column 'created_at' at row 1
Progress is 180000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:26:33' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:30:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:20:16' for column 'created_at' at row 1
Progress is 190000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:41:00' for column 'created_at' at row 1
Progress is 200000
Progress is 210000
Progress is 220000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:44:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:38:08' for column 'created_at' at row 1
Progress is 230000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:32:05' for column 'created_at' at row 1
Progress is 240000
Progress is 250000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:20:28' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:56:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:41:00' for column 'created_at' at row 1
Progress is 260000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:04:15' for column 'created_at' at row 1
Progress is 270000
Progress is 280000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:11:37' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:56:58' for column 'created_at' at row 1
Progress is 290000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:39:00' for column 'created_at' at row 1
Progress is 300000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:20:11' for column 'created_at' at row 1
Progress is 310000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:53:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:48:46' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:08:26' for column 'created_at' at row 1
Progress is 320000
Progress is 330000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:53:00' for column 'created_at' at row 1
Progress is 340000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:50:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:54:14' for column 'created_at' at row 1
Progress is 350000
Progress is 360000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:20:00' for column 'created_at' at row 1
Progress is 370000
Progress is 380000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:50:00' for column 'created_at' at row 1
Progress is 390000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:51:13' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:25:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:47:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:33:37' for column 'created_at' at row 1
Progress is 400000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:53:00' for column 'created_at' at row 1
Progress is 410000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:35:33' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:22:39' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:16:36' for column 'created_at' at row 1
Progress is 420000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:48:16' for column 'created_at' at row 1
Progress is 430000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:37:00' for column 'created_at' at row 1
Progress is 440000
Progress is 450000
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:03:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:48:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:59:00' for column 'created_at' at row 1
Progress is 460000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:30:59' for column 'created_at' at row 1
Progress is 470000
Progress is 480000
Progress is 490000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:55:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:26:13' for column 'created_at' at row 1
Progress is 500000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:19:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:02:00' for column 'created_at' at row 1
Progress is 510000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:36:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:13:39' for column 'created_at' at row 1
Progress is 520000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:44:00' for column 'created_at' at row 1
Progress is 530000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:08:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:34:54' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:44:35' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:51:00' for column 'created_at' at row 1
Progress is 540000
Progress is 550000
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:08:00' for column 'created_at' at row 1
Progress is 560000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:13:29' for column 'created_at' at row 1
Progress is 570000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:29:20' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:21:04' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:19:18' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:27:47' for column 'created_at' at row 1
Progress is 580000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:21:20' for column 'created_at' at row 1
Progress is 590000
Progress is 600000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:56:37' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:20:00' for column 'created_at' at row 1
Progress is 610000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:43:31' for column 'created_at' at row 1
Progress is 620000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:52:22' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:48:00' for column 'created_at' at row 1
Progress is 630000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:11:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:48:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:59:15' for column 'created_at' at row 1
Progress is 640000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:18:00' for column 'created_at' at row 1
Progress is 650000
Progress is 660000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:31:00' for column 'created_at' at row 1
Progress is 670000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:35:06' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:11:51' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:06:00' for column 'created_at' at row 1
Progress is 680000
Progress is 690000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:13:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:43:48' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:14:56' for column 'created_at' at row 1
Progress is 700000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:45:00' for column 'created_at' at row 1
Progress is 710000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:31:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:54:45' for column 'created_at' at row 1
Progress is 720000
Error occurred: 1292 (22007): Incorrect datetime value: '2019-03-10 02:21:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:29:00' for column 'created_at' at row 1
Progress is 730000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:27:16' for column 'created_at' at row 1
Progress is 740000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:05:09' for column 'created_at' at row 1
Progress is 750000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:26:09' for column 'created_at' at row 1
Progress is 760000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:33:00' for column 'created_at' at row 1
Progress is 770000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:25:00' for column 'created_at' at row 1
Progress is 780000
Progress is 790000
Progress is 800000
Progress is 810000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:25:03' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:24:13' for column 'created_at' at row 1
Progress is 820000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:01:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:19:57' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:55:00' for column 'created_at' at row 1
Progress is 830000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:51:52' for column 'created_at' at row 1
Progress is 840000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:35:30' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:59:00' for column 'created_at' at row 1
Progress is 850000
Progress is 860000
Progress is 870000
Progress is 880000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:50:52' for column 'created_at' at row 1
Progress is 890000
Progress is 900000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:18:28' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:16:20' for column 'created_at' at row 1
Progress is 910000
Progress is 920000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:49:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:20:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:15:40' for column 'created_at' at row 1
Progress is 930000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:46:20' for column 'created_at' at row 1
Progress is 940000
Progress is 950000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:47:00' for column 'created_at' at row 1
Progress is 960000
Progress is 970000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:14:32' for column 'created_at' at row 1
Progress is 980000
Progress is 990000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:47:23' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:23:12' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:53:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:20:01' for column 'created_at' at row 1
Progress is 1000000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:11:03' for column 'created_at' at row 1
Progress is 1010000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:15:04' for column 'created_at' at row 1
Progress is 1020000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:44:58' for column 'created_at' at row 1
Progress is 1030000
Progress is 1040000
Progress is 1050000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:25:06' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:22:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:29:58' for column 'created_at' at row 1
Progress is 1060000
Progress is 1070000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:24:44' for column 'created_at' at row 1
Progress is 1080000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:19:42' for column 'created_at' at row 1
Progress is 1090000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:41:25' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:13:31' for column 'created_at' at row 1
Progress is 1100000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:22:22' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:19:50' for column 'created_at' at row 1
Progress is 1110000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:06:34' for column 'created_at' at row 1
Progress is 1120000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:12:15' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:33:08' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:18:00' for column 'created_at' at row 1
Progress is 1130000
Progress is 1140000
Progress is 1150000
Progress is 1160000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:51:38' for column 'created_at' at row 1
Progress is 1170000
Progress is 1180000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:08:00' for column 'created_at' at row 1
Progress is 1190000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:42:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:24:23' for column 'created_at' at row 1
Progress is 1200000
Progress is 1210000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:47:00' for column 'created_at' at row 1
Progress is 1220000
Error occurred: 1292 (22007): Incorrect datetime value: '2023-03-12 02:16:58' for column 'created_at' at row 1
Progress is 1230000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:15:00' for column 'created_at' at row 1
Progress is 1240000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:52:00' for column 'created_at' at row 1
Progress is 1250000
Progress is 1260000
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:37:52' for column 'created_at' at row 1
Progress is 1270000
Progress is 1280000
Progress is 1290000
Error occurred: 1292 (22007): Incorrect datetime value: '2021-03-14 02:39:00' for column 'created_at' at row 1
Progress is 1300000
Progress is 1310000
Progress is 1320000
Progress is 1330000
Error occurred: 1292 (22007): Incorrect datetime value: '2020-03-08 02:49:00' for column 'created_at' at row 1
Error occurred: 1292 (22007): Incorrect datetime value: '2022-03-13 02:40:06' for column 'created_at' at row 1